<!DOCTYPE html>
<html ng-app="codesocket" ng-csp>
    <head>
        
        <title>CodeSocket</title>
        
        <link href="fonts/sourcecodepro/style.css" type="text/css" rel="stylesheet" media="all" />
        <link href="fonts/icomoon/style.css" type="text/css" rel="stylesheet" media="all" />
        
        <link href="css/codemirror.css" type="text/css" rel="stylesheet" media="all" />
        <link href="css/base16-light.css" type="text/css" rel="stylesheet" media="all" />
        
        <link href="css/app.css" type="text/css" rel="stylesheet" media="all" />
        
        <script type="text/javascript" src="lib/jquery.js"></script>
        <script type="text/javascript" src="lib/codemirror.js"></script>
        <script type="text/javascript" src="lib/angular-1.2.16.js"></script>
        
        <script type="text/javascript" src="app/modules/angular-animate-1.2.16.js"></script>
        
        <script type="text/javascript" src="app/app.js"></script>
        
        <script type="text/javascript" src="app/Factories.js"></script>
        <script type="text/javascript" src="app/Filters.js"></script>
        <script type="text/javascript" src="app/Directives.js"></script>
        <script type="text/javascript" src="app/Controllers.js"></script>
        <script type="text/javascript" src="app/Values.js"></script>
        
    </head>
    <body>
        
        <div class="wrapper" ng-controller="MainCtrl">
            <div class="sidebar">
                <div class="menubar">
                    <div class="entry" cs-menu="projects">
                        <span class="projectlabel">Kein Projekt gew&auml;hlt</span>
                        <span class="icon"></span>
                    </div>
                </div>
                <div class="files">
                </div>
                <div class="tree" ng-controller="FiletreeCtrl">
                    <div class="dir" ng-class="{'open': d.open}" ng-repeat="d in tree.folder" ng-include="'FileTree.html'"></div>
                    <div class="entry" ng-repeat="f in tree.files">
                        <span class="icon icon-{{cssIcon(f.name)}}"></span>
                        <span class="label">{{f.name}}</span>
                    </div>
                    
                    <script type="text/ng-template" id="FileTree.html">
                        <div class="entry" ng-click="toggleDir(d)">
                            <span class="icon" ng-class="{'icon-arrow-right': !d.open, 'icon-arrow-down': d.open}"></span>
                            <span class="label" ng-bind="d.dir.name"></span>
                        </div>
                        <div class="subdir">
                            <div class="dir" ng-class="{'open': d.open}" ng-repeat="d in d.folder" ng-include="'FileTree.html'"></div>
                            <div class="entry" ng-repeat="f in d.files">
                                <span class="icon icon-{{cssIcon(f.name)}}"></span>
                                <span class="label">{{f.name}}</span>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
            <div class="main">
                <div class="menubar">
                    <div class="entries">
                        <div class="entry" cs-menu="file">
                            Datei
                        </div>
                        <div class="entry" cs-menu="edit">
                            Bearbeiten
                        </div>
                        <div class="entry" cs-menu="extras">
                            Extras
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="btn icon icon-checkbox-unchecked" ng-click="maximize()">
                        </div>
                        <div class="btn icon icon-close" ng-click="close()">
                        </div>
                    </div>
                </div>
                <div class="content" id="editor" ng-controller="EditorCtrl">
                </div>
                <div class="statusbar">
                    
                </div>
            </div>
        </div>
        
        <div class="overlays">
            <div class="clicklayer">
            </div>
            
            <cs-menu></cs-menu>
            <cs-window></cs-window>
        </div>
        
    </body>
</html>
