<!DOCTYPE html>
<html ng-app="codesocket">
    <head>
        
        <title>CodeSocket</title>
        
        <link href="fonts/sourcecodepro/style.css" type="text/css" rel="stylesheet" media="all" />
        <link href="fonts/icomoon/style.css" type="text/css" rel="stylesheet" media="all" />
        
        <link href="css/codemirror.css" type="text/css" rel="stylesheet" media="all" />
        <link href="css/base16-light.css" type="text/css" rel="stylesheet" media="all" />
        
        <link href="css/app.css" type="text/css" rel="stylesheet" media="all" />
        
        <script type="text/javascript" src="lib/jquery.js"></script>
        <script type="text/javascript" src="lib/codemirror.js"></script>
        <script type="text/javascript" src="lib/angular-1.2.16.js"></script>
        
        <script type="text/javascript" src="app/modules/angular-animate-1.2.16.js"></script>
        
        <script type="text/javascript" src="app/app.js"></script>
        
        <script type="text/javascript" src="app/Factories.js"></script>
        <script type="text/javascript" src="app/Filters.js"></script>
        <script type="text/javascript" src="app/Directives.js"></script>
        <script type="text/javascript" src="app/Controllers.js"></script>
        <script type="text/javascript" src="app/Values.js"></script>
        
    </head>
    <body>
        
        <div class="wrapper">
            <div class="sidebar">
                <div class="menubar">
                    <div class="entry" cs-menu="projects">
                        <span class="projectlabel">Kein Projekt gew&auml;hlt</span>
                        <span class="icon"></span>
                    </div>
                </div>
                <div class="files">
                </div>
                <div class="tree">
                </div>
            </div>
            <div class="main">
                <div class="menubar">
                    <div class="entries">
                        <div class="entry" cs-menu="file">
                            Datei
                        </div>
                        <div class="entry" cs-menu="edit">
                            Bearbeiten
                        </div>
                        <div class="entry" cs-menu="extras">
                            Extras
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="btn icon icon-checkbox-unchecked" ng-click="maximize()">
                        </div>
                        <div class="btn icon icon-close" ng-click="close()">
                        </div>
                    </div>
                </div>
                <div class="content" id="editor">
                </div>
                <div class="statusbar">
                    
                </div>
            </div>
        </div>
        
        <div class="overlays">
            <div class="clicklayer">
            </div>
            
            <cs-menu></cs-menu>
            <cs-window></cs-window>
        </div>
        
    </body>
</html>
