<div class="window projects">
    <div class="header">
        <h1>Meine Projekte</h1>
    </div>
    
    <div class="tabs">
        <div class="tab-nav">
            <div class="entry active" data-tab="all">Alle</div>
            <div class="entry" data-tab="local">Lokal</div>
            <div class="entry" data-tab="remote">FTP</div>
        </div>
        <div class="tab all active">
        </div>
        <div class="tab local">
        </div>
        <div class="tab remote">
        </div>
    </div>
    
    <div class="footer">
        <div class="btn" data-click="window.abort">Fertig</div>
    </div>
</div>
