<div class="window about">
    <div class="header">
        <h1>&Uuml;ber</h1>
    </div>
    
    <div class="input">
        <span class="label">Entwickler:</span>
        <input class="txt" name="version" type="text" value="Emil Bergold" readonly="readonly" />
    </div>
    <div class="input">
        <span class="label">Version:</span>
        <input class="txt" name="version" type="text" value="0.0.1" readonly="readonly" />
    </div>
    
    <div class="footer">
        <div class="btn" data-click="window.abort">Fertig</div>
    </div>
</div>
