[
{ "label": "R&uuml;ckg&auml;ngig", "cmd": "editor.undo" },
{ "label": "Wiederholen", "cmd": "editor.redo" },
"|",
{ "label": "Ausschneiden", "cmd": "editor.cut" },
{ "label": "Kopieren", "cmd": "editor.copy" },
{ "label": "Einf&uuml;gen", "cmd": "editor.paste" },
"|",
{ "label": "Alles ausw&auml;hlen", "cmd": "editor.selectall" },
{ "label": "Zeile ausw&auml;hlen", "cmd": "editor.selectline" },
"|",
{ "label": "Suchen", "cmd": "editor.search" },
{ "label": "Im Projekt suchen", "cmd": "editor.searchproject" },
{ "label": "Ersetzen", "cmd": "editor.replace" },
"|",
{ "label": "Einr&uuml;cken", "cmd": "editor.indentincrease" },
{ "label": "Ausr&uuml;cken", "cmd": "editor.indentdecrease" },
{ "label": "Dublizieren", "cmd": "editor.dublicate" },
{ "label": "Zeile l&ouml;schen", "cmd": "editor.removeline" },
{ "label": "Zeile nach oben verschieben", "cmd": "editor.movelineup" },
{ "label": "Zeile nach unten verschieben", "cmd": "editor.movelinedown" },
"|",
{ "label": "Zeile (aus)kommentieren", "cmd": "editor.commentline" },
{ "label": "Block (aus)kommentieren", "cmd": "editor.commentblock" },
"|",
{ "label": "Leerzeichen in Tabs umwandeln", "cmd": "editor.spacestotabs" },
{ "label": "Tabs in Leerzeichen umwandeln", "cmd": "editor.tabstospaces" }
]
