<div class="menu">
    <div class="menuentry">R&uuml;ckg&auml;ngig</div>
    <div class="menuentry">Wiederholen</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Ausschneiden</div>
    <div class="menuentry">Kopieren</div>
    <div class="menuentry">Einf&uuml;gen</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Alles ausw&auml;hlen</div>
    <div class="menuentry">Zeile ausw&auml;hlen</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Suchen</div>
    <div class="menuentry">Im Projekt suchen</div>
    <div class="menuentry">Ersetzen</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Einr&uuml;cken</div>
    <div class="menuentry">Ausr&uuml;cken</div>
    <div class="menuentry">Dublizieren</div>
    <div class="menuentry">Zeile l&ouml;schen</div>
    <div class="menuentry">Zeile nach oben verschieben</div>
    <div class="menuentry">Zeile nach unten verschieben</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Zeile (aus)kommentieren</div>
    <div class="menuentry">Block (aus)kommentieren</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Leerzeichen in Tabs umwandeln</div>
    <div class="menuentry">Tabs in Leerzeichen umwandeln</div>
</div>