<div class="menu">
    <div class="menuentry">Neue Datei</div>
    <div class="menuentry">&Ouml;ffnen</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Speichern</div>
    <div class="menuentry">Alle Speichern</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Schlie&szlig;en</div>
    <div class="menuentry">Alle schlie&szlig;en</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Neues Projekt</div>
    <div class="menuentry">Projekte verwalten</div>
    <div class="menuentry separator"></div>
    <div class="menuentry">Beenden</div>
</div>
