/* Defs:
 * @accent-color: 007AFF
 */


html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
}

::-webkit-scrollbar              {
    width: 14px;
    height: 14px;
    background: transparent;
}
::-webkit-scrollbar-button       {
    display: none;
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb        {
    background: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 4px solid transparent;
    width: 6px;
    height: 6px;
    border-radius: 14px;
}
::-webkit-scrollbar-corner       {
    background: transparent;
}
::-webkit-resizer                {
    background: transparent;
}

/* Layout
======================== */
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: initial;
    width: 250px;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.menubar {
    flex: initial;
    height: 50px;
    -webkit-app-region: drag;
}
.menubar * {
    -webkit-app-region: no-drag;
}
.menubar .entries {
    display: block;
    float: left;
    margin: 0 16px;
}
.menubar .buttons {
    display: block;
    float: right;
    margin: 0 16px;
}

.content {
    display: flex;
    flex: 1;
    position: relative;
}

.statusbar {
    flex: initial;
    height: 25px;
}

.files {
    max-height: 200px;
}

.tree {
    flex: 1;
    overflow: auto;
}

/* Colors
======================== */
.sidebar {
    background: #222222;
    color: #C4C4C4;
}
.sidebar .files {
    background: #1B1B1B;
}
.main {
    background: #F5F5F5;
}
.main .menubar {
    background: #FFFFFF;
}
.main .statusbar {
    background: #DDDDDD;
}

/* Editor
======================== */
.no-editor #editor .CodeMirror {
    visibility: hidden;
}
#editor .CodeMirror {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Menubar entries
======================== */
.menubar .entry {
    display: inline-block;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    text-align: center;
    color: #222222;
    cursor: default;
    transition: all 0.2s ease;
}
.menubar .entry:hover {
    color: #007AFF;
}
.sidebar .menubar .entry {
    color: #ddd;
}
.sidebar .menubar .entry:hover {
    color: #fff;
}

/* Buttons
======================== */
.btn {
    display: inline-block;
    box-sizing: border-box;
    margin: 8px 0;
    height: 34px;
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    line-height: 34px;
    text-align: center;
    transition: all 0.2s ease;
    color: rgba(0, 0, 0, 0.5);
}
.btn:hover {
    background: #F5F5F5;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.menubar .btn {
    width: 34px;
    padding: 0;
}

/* Filetree
======================== */
.tree {
    padding: 20px;
}
.tree .entry {
    display: flex;
    flex-direction: row;
    height: 28px;
}
.tree .entry:hover .label {
    color: #fff;
}
.tree .entry .icon {
    display: block;
    flex: initial;
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
}
.tree .entry .label {
    display: block;
    flex: 1;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
}
.tree .dir .subdir {
    margin-left: 20px;
}
.tree .dir.closed .subdir {
    height: 0;
    overflow: hidden;
}

/* Overlays
======================== */
.overlays .clicklayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
.overlays .clicklayer.white {
    background: rgba(255, 255, 255, 0.5);
}
.overlays .clicklayer.active {
    display: block;
}

.overlays .menu {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    min-width: 200px;
    padding: 10px 0;
    overflow: auto;
    z-index: 100;
}
.overlays .menu.active {
    display: block;
}
.overlays .menu .menuentry {
    display: block;
    padding: 10px 20px;
    font-size: 12px;
}
.overlays .menu .menuentry.separator {
    height: 1px;
    padding: 0 20px;
    background: #eeeeee;
}
.overlays .menu .menuentry:hover {
    background: #f5f5f5;
}

.overlays .window {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    min-width: 280px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.overlays .window.active {
    display: block;
}
.overlays .window .header {
    margin: 10px;
    padding: 5px 0;
}
.overlays .window .header h1 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    color: #007AFF;
}
.overlays .window .footer {
    background: #eee;
    margin-top: 10px;
    padding: 0 20px;
    text-align: right;
}
.overlays .window .tabs .tab-nav {
    margin: 0 10px 10px;
    padding: 0 10px;
    border-bottom: 1px solid #007AFF;
    height: 42px;
    box-sizing: border-box;
}
.overlays .window .tabs .tab-nav .entry {
    display: inline-block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    box-sizing: border-box;
}
.overlays .window .tabs .tab-nav .entry:hover {
    color: #007AFF;
}
.overlays .window .tabs .tab-nav .entry.active {
    border-bottom: 4px solid #007AFF;
}
.overlays .window .tabs .tab {
    display: none;
    margin: 0 10px 10px;
}
.overlays .window .tabs .tab.active {
    display: block;
}
.overlays .window .info {
    max-width: 300px;
    margin: 10px;
}

/* Inputs / Labels
======================== */
.input {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
    padding: 4px;
}
.input:hover {
    background: #f5f5f5;
}
.input .label {
    flex: initial;
    margin-right: 4px;
    height: 28px;
    line-height: 28px;
}
.input input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    color: #007AFF;
}
.input input[type="password"] {
    letter-spacing: 1px;
}
