/* Defs:
 * @accent-color: 007AFF
 */


html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar              {
    width: 14px;
    height: 14px;
    background: transparent;
}
::-webkit-scrollbar-button       {
    display: none;
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb        {
    background: rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    border: 4px solid transparent;
    width: 6px;
    height: 6px;
    border-radius: 14px;
}
::-webkit-scrollbar-corner       {
    background: transparent;
}
::-webkit-resizer                {
    background: transparent;
}

/* Layout
======================== */
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: initial;
    width: 250px;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.menubar {
    flex: initial;
    height: 50px;
    -webkit-app-region: drag;
}
.menubar * {
    -webkit-app-region: no-drag;
}
.menubar .entries {
    display: block;
    float: left;
    margin: 0 16px;
}
.menubar .buttons {
    display: block;
    float: right;
    margin: 0 16px;
}

.content {
    display: flex;
    flex: 1;
    position: relative;
}

.statusbar {
    flex: initial;
    height: 25px;
}

.files {
    max-height: 200px;
}

.tree {
    flex: 1;
    overflow: auto;
}

/* Colors
======================== */
.sidebar {
    background: #222222;
    color: #C4C4C4;
}
.sidebar .files {
    background: #1B1B1B;
}
.main {
    background: #F5F5F5;
}
.main .menubar {
    background: #FFFFFF;
}
.main .statusbar {
    background: #DDDDDD;
}

/* Editor
======================== */
.no-editor #editor .CodeMirror {
    visibility: hidden;
}
#editor .CodeMirror {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Menubar entries
======================== */
.menubar .entry {
    display: inline-block;
    height: 50px;
    padding: 0 1.2em;
    line-height: 50px;
    text-align: center;
    color: #222222;
    cursor: default;
    transition: all 0.2s ease;
}
.menubar .entry:hover {
    color: #007AFF;
}

/* Buttons
======================== */
.btn {
    display: inline-block;
    box-sizing: border-box;
    margin: 8px 0;
    width: 34px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    line-height: 34px;
    text-align: center;
    transition: all 0.2s ease;
    color: rgba(0, 0, 0, 0.5);
}
.btn:hover {
    background: #F5F5F5;
    color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Filetree
======================== */
.tree {
    padding: 20px;
}
.tree .entry {
    display: flex;
    flex-direction: row;
    height: 28px;
}
.tree .entry:hover {
    color: #fff;
}
.tree .entry .icon {
    display: block;
    flex: initial;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.tree .entry .label {
    display: block;
    flex: 1;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
}
.tree .dir .subdir {
    margin-left: 20px;
}
.tree .dir.closed .subdir {
    height: 0;
    overflow: hidden;
}

