/* Defs:
 * accent-color: 007AFF
 */


html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Layout
======================== */
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar {
    flex: initial;
    width: 250px;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.menubar {
    flex: initial;
    height: 50px;
    -webkit-app-region: drag;
}
.menubar * {
    -webkit-app-region: no-drag;
}
.menubar .entries {
    display: block;
    float: left;
    margin: 0 16px;
}
.menubar .buttons {
    display: block;
    float: right;
    margin: 0 16px;
}

.content {
    display: flex;
    flex: 1;
    position: relative;
}

.statusbar {
    flex: initial;
    height: 25px;
}

/* Colors
======================== */
.sidebar {
    background: #222222;
}
.sidebar .menubar {
    background: #1B1B1B;
}
.main {
    background: #F5F5F5;
}
.main .menubar {
    background: #FFFFFF;
}
.main .statusbar {
    background: #DDDDDD;
}

/* Editor
======================== */
#editor .CodeMirror {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Menubar entries
======================== */
.entry {
    display: inline-block;
    height: 50px;
    padding: 0 1.2em;
    line-height: 50px;
    text-align: center;
    color: #222222;
    cursor: default;
    transition: all 0.2s ease;
}
.entry:hover {
    color: #007AFF;
}

/* Buttons
======================== */
.btn {
    display: inline-block;
    box-sizing: border-box;
    margin: 8px 0;
    width: 34px;
    height: 34px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    line-height: 34px;
    text-align: center;
    transition: all 0.2s ease;
}
.btn:hover {
    background: #F5F5F5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
